{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">

<footer style="background-color:#333; color:white;width:100%;float:left;">
    <div class="container">
        <br>
        <div class="row">
        <div class="col-xs-12 col-md-4" style="text-align:center;">
            <h5>
                Copyright &copy; 2021
            </h5>
            <h5>
                All rights reserved by team.4 Insiders
            </h5>
        </div>
        <div class="col-xs-12 col-md-4">
            <h5>US-stock insider trading</h5>
            <h5>project site</h5>
        </div>
        <div class="col-xs-12 col-md-4" style="text-align: center;">
            <h5>CUSTOMER SERVICE</h5>
        <div class="list-group">
            <a href="#" class="list-group-item"><h5 style="text-align: center;">010-3229-3998</h5></a>
            </div>
        </div>
        </div>
    </div>
</footer>