{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
<div class="container my-3">
    <img src="/static/image/apple.png"  width="150" alt="애플">
    <table class="table">
        <thead>
        <tr class="thead-light">
            <th>TransactionDate</th>
            <th>ReportedDateTime</th>
            <th>Company</th>
            <th>Symbol</th>
            <th>InsiderRelationship</th>
            <th>SharesTraded</th>
            <th>AveragePrice</th>
            <th>TotalAmount</th>
            <th>SharesOwned</th>
            <th>Type</th>

        </tr>
        </thead>
        <tbody>
        {% if stock_list %}
        {% for  row in stock_list %}
        <tr>
            {% for  col in row %}
            <td>{{ col }}</td>
            {% endfor %}

        </tr>
         {% endfor %}

        {% else %}
        <tr>
            <td colspan="3">목록이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 첫번째페이지 -->
        {% if stock_list.has_previous %}
         <li class="page-item">
            <a class="page-link"  href="?page=1">첫 페이지</a>&nbsp&nbsp&nbsp
         </li>
        {% else %}
         <li class="page-item disabled">
            <a class="page-link"  href="#" tabindex="-1" aria-disabled="true" >첫 페이지</a>
         </li>
        {% endif %}
        <!-- 이전페이지 -->
        {% if stock_list.has_previous %}
         <li class="page-item">
            <a class="page-link"  href="?page={{ stock_list.previous_page_number }}">이전</a>
         </li>
        {% else %}
         <li class="page-item disabled">
            <a class="page-link"  href="#" tabindex="-1" aria-disabled="true" >이전</a>
         </li>
        {% endif %}

        <!-- 페이지리스트 -->
        {% for page_number in stock_list.paginator.page_range %}
            {% if page_number >= stock_list.number|add:-2 and page_number <= stock_list.number|add:2 %}

            {% if page_number == stock_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}

            {% endif %}
         {% endfor %}

        <!-- 다음페이지 -->
        {% if stock_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ stock_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
        <!-- 마지막페이지 -->
        {% if stock_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page=9999999999999">마지막 페이지</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">마지막 페이지</a>
        </li>
        {% endif %}



    </ul>


{% include "footer.html" %}
{% endblock %}